<div>
  <div [ngClass]="classValidator('divrelativeOn form-inline ','divrelativeOff form-inline')">
    <div [ngClass]="classValidator('divloadingOn','divloadingOff')" class="divloading">
      <div style="margin-left: auto;margin-right: 300px;width: 1px">
        <img [ngClass]="classValidator('imgloading','imgloadingHidden')">
      </div>
    </div>

    <div class="lgs-label">
      Expériences Technologiques

    </div>
    <label (click)="addTechnologie()">
      <img src="../../../assets/add+1.png" style="width: 20px;float: right;margin-right: 10px;">


    </label>
    <div class="lgs-floatLeftButtons">
      <button type="button" class="btn btn-link"></button>
    </div>
    <table class="table table-hover small">
      <thead>
        <tr class="lgs-backgroundColor">
          <th scope="col">Sous-catégorie</th>
          <th scope="col">Mois</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let tech of techByCategorie">
        <td    *ngIf="GetTechnologies(tech).length>0"   colspan="3" (click)="ShowDetails(tech,techByCategorie)" style="background:#c7bed8;font-size: larger;color: white;font-weight: bolder;">
          {{tech.categorie}}
        </td>
        <tr  [hidden]="tech.hidden==null?true:tech.hidden" *ngFor="let item of GetTechnologies(tech)">
          <td>
          {{item.description}}

          </td>
          <td>{{item.mois}}</td>
          <td (click)="removeTechonolie(item)" class="XCancel">
            X
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
