<div>

  <div [ngClass]="classValidator('divrelativeOn form-inline ','divrelativeOff form-inline')">
    <div [ngClass]="classValidator('divloadingOn','divloadingOff')" class="divloading">
      <div style="margin-left: auto;margin-right: 600px;width: 1px">
        <img [ngClass]="classValidator('imgloading','imgloadingHidden')">
      </div>
    </div>

    <div class="lgs-label">RÉSUME DES INTERVENTION</div>
    <label (click)="addMandat()">+</label>

    <div class="lgs-group divborder">
        <table class="table table-hover small">
          <thead>
            <tr class="lgs-backgroundColor">
              <th scope="col">#</th>
              <th scope="col">CLIENT</th>
              <th scope="col">PROJET</th>
              <th scope="col">ENVERGURE
                <br />(J - P)</th>
              <th scope="col">FONCTION</th>
              <th scope="col">ANNÉE</th>
              <th scope="col">EFFORTS (MOIS)</th>
              <th scope="col"></th>

            </tr>

          </thead>

         <tbody class="{{intervention.highlight}}" (click)="SelectedLine(intervention)"  id="tr{{i}}"   *ngFor="let intervention of resume; let i = index">
            <tr >
              <th  scope="row">
                {{intervention.nombre}}
              </th>

              <th scope="row">
                {{intervention.client}}
              </th>
              <td>
                {{intervention.projet}}
              </td>

              <td>
                {{ intervention.envergure}}

              </td>
              <td>
                {{ intervention.fonction}}
              </td>
              <td>
                {{ intervention.annee}}
              </td>
              <td>
             {{ intervention.effors }}
              </td>
              <td id="bt{{i}}" style="width: 30px;">
                <label  class="XCancel"> X</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
