@model int
<div>
    <label>Certification: </label>
    <input id="Certifications@(Model)__Description" class="CertificationItem" name="Certifications[@(Model)].Description" type="text" value="" />
</div>