@model int
<div>
    <label>Certification: </label>
    <input class="CertificationItem" name="Certifications[@(Model)].Description" type="text" value="" />
    <br />
    <label>Année: </label>
    <input name="Certifications[@(Model)].Annee" type="number" value="" />
</div>
<br/>