@model int
<div class="lgs-group table-bordered">
    <table>
        <tr>
            <td>
                <label>Diplome: </label>
                <input id="FormationsAcademique@(Model)__Diplome" class="FormationsAcademiqueItem" name="FormationsAcademique[@(Model)].Diplome" type="text" value="" />
            </td>
            <td>
                <label>Année: </label><input id="FormationsAcademique@(Model)__Annee" name="FormationsAcademique[@(Model)].Annee" type="text" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Établissement: </label><input id="FormationsAcademique@(Model)__Etablissement" name="FormationsAcademique[@(Model)].Etablissement" type="text" value="" />
            </td>
        </tr>        
    </table>
    <BR>
</div>

