@using DAL_CV_Fiches.Models.Graph
@model int

<div class="row lgs-group lgs-top-buffer2">
    <div class="form-inline col-lg-3">
        <select class="LangueItem" name="Langues[@(Model)].GraphId">
            @foreach (Langue lang in (List<Langue>)ViewData["Langues"])
            {
                <option value="@lang.GraphKey">@lang.Nom</option>
            }
        </select>
    </div>

    <div class="form-inline col-lg-3 ">
        <select name="Langues[@(Model)].NiveauParle">
            <option value="Avancé">Avancé</option>
            <option value="Intermédiaire">Intermédiaire</option>
            <option value="Basique">Basique</option>
        </select>
    </div>

    <div class="form-inline col-lg-3">
        <select name="Langues[@(Model)].NiveauEcrit">
            <option value="Avancé">Avancé</option>
            <option value="Intermédiaire">Intermédiaire</option>
            <option value="Basique">Basique</option>
        </select>
    </div>

    <div class="form-inline col-lg-3">
        <select name="Langues[@(Model)].NiveauLu">
            <option value="Avancé">Avancé</option>
            <option value="Intermédiaire">Intermédiaire</option>
            <option value="Basique">Basique</option>
        </select>
    </div>
</div>