@using DAL_CV_Fiches.Models.Graph
@model int    

    <div class="table-bordered form-group img-rounded lgs-top-buffer2">
        <div class="lgs-top-buffer2 form-inline">
            <div class="lgs-group col-lg-4">
                <div>
                    <input class="MandatItem form-control" name="Mandats[@(Model)].NomClient" placeholder="Client" type="text" />
                </div>
                <div class="lgs-top-buffer1">
                    <input name="Mandats[@(Model)].NomEntreprise" type="text" class="form-control" placeholder="Entreprise" />
                </div>
            </div>

            <div class="lgs-group lgs-top-buffer2">
                <div>
                    <div class="form-inline lgs-top-buffer1">
                        <input type="text" class="form-control" name="Mandats[@(Model)].TitreProjet" placeholder="Projet ou sous projet" />
                    </div>
                    <div class="form-group lgs-top-buffer2">
                        <input type="text" class="form-control" name="Mandats[@(Model)].TitreMandat" style="width:500px" placeholder="Titre du mandat" />
                        <input type="date" class="form-control" name="Mandats[@(Model)].DebutMandat" style="width:200px" placeholder="de" />
                        <input type="date" class="form-control" name="Mandats[@(Model)].FinMandat" style="width:200px" placeholder="à" />
                    </div>
                    <div class="lgs-top-buffer2">
                        <div class="form-inline">
                            <input type="number" class="form-control" name="Mandats[@(Model)].Envergure" style="width:120px" placeholder="Envergure" />
                            <span>
                                <label class="lgs-champLabel"> jour-personnes</label>
                            </span>
                        </div>
                        <div class="form-inline lgs-top-buffer2">
                            <label class="lgs-champLabel">Fonction: </label>
                            <select name="Mandats[@(Model)].GraphIdFonction" class="form-control">
                                <option></option>
                                @foreach (Fonction fonction in (List<Fonction>)ViewData["Fonctions"])
                                {
                                    <option value="@fonction.GraphKey">@fonction.Description</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-inline lgs-top-buffer2">
                    <label class="lgs-champLabel">Effort du conseiller sur le projet ou sous-projet: </label>
                    <input type="number" class="form-control" name="Mandats[@(Model)].Efforts" style="width:100px" />
                    <label class="lgs-champLabel"> mois</label>
                </div>

                <div class="lgs-group lgs-top-buffer2">
                    <label class="lgs-champLabel">Contexte du projet ou du sous projet:</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <textarea class="lgs-textarea form-control" style="width:100%" name="Mandats[@(Model)].ContexteProjet" />
                        </div>
                    </div>
                </div>

                <div class="lgs-group lgs-top-buffer2">
                    <label class="lgs-champLabel">Portée des travaux du conseiller sur le mandat:</label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <textarea class="lgs-textarea form-control" style="width:100%" name="Mandats[@(Model)].PorteeDesTravaux"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group row lgs-top-buffer3">
                    <div class="col-lg-6">
                        <div>
                            <div class="lgs-label">
                                Description de tâches
                            </div>
                            <div class="lgs-floatLeftButtons">
                                <button type="button" id="btnAddTask[@(Model)]" class="btnAddTask btn btn-link" index="@(Model)"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <div id="tableTache[@(Model)]" class="tableTache lgs-group table-bordered">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <div class="lgs-label">
                                Liste des techno du projet
                            </div>
                            <div class="lgs-floatLeftButtons">
                                <button type="button" class="btnAddTech btn btn-link" index="@(Model)"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <div id="tableTechnologie[@(Model)]" class="tableTechnologie lgs-group table-bordered">
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>