@model int
<div>
    <label>Perfectionnement: </label>
    <input class="PerfectionnementItem" name="Perfectionnements[@(Model)].Description" type="text" value="" />
    <br />
    <label>Année: </label>
    <input name="Perfectionnements[@(Model)].Annee" type="number" value="" />
</div>
<br/>