@model int
<div class="lgs-group table-bordered lgs-top-buffer2">
    <label class="col-form-label">Perfectionnement: </label>
    <input class="PerfectionnementItem form-control" name="Perfectionnements[@(Model)].Description" type="text" value="" />
    <label class="col-form-label">Année: </label>
    <input name="Perfectionnements[@(Model)].Annee" class="form-control" type="number" value="" />
</div>
