@model Tuple<int, int>

<div class="form-inline lgs-top-buffer2">
    <label class="lgs-champLabel" style="25%">Tache: </label>
    <input class="TacheItem@(Model.Item1) form-control" style="width:75%" name="Mandats[@(Model.Item1)].Taches[@(Model.Item2)].Description" type="text" value="" />
</div>

    
