@using DAL_CV_Fiches.Models.Graph
@model int

<div class="lgs-group table-bordered form-inline lgs-top-buffer2">

    <select class="TechConseillerItem form-control" name="Technologies[@(Model)].GraphId" style="width:200px">
        @foreach (Technologie tech in (List<Technologie>)ViewData["Technologies"])
        {
            <option value="@tech.GraphKey">@tech.Nom</option>
        }
    </select>

    <input type="number" class="form-control" name="Technologies[@(Model)].Mois" placeholder="0.0" />
    
</div>