@using DAL_CV_Fiches.Models.Graph
@model Tuple<int, int>

<div class="form-inline lgs-top-buffer2">
    <label class="lgs-champLabel" style="25%">Technologie: </label>
    <select class="TechItem form-control" name="Mandats[@(Model.Item1)].Technologies[@(Model.Item2)].GraphId" style="width:75%">
        @foreach (Technologie tech in (List<Technologie>)ViewData["Technologies"])
        {
            <option value="@tech.GraphKey">@tech.Nom</option>
        }
    </select>
</div>