#details {
  display: none
}
.chip-list{
  width: 100%;
}
.selectedItem {
  background-color: blue;
}

table.table tbody tr {
  cursor: pointer
}

.mandat-fiche:not(:first-of-type) {
  display: none
}
.selectedItem {
background-color: blue;
}

table.table tbody tr {
cursor: pointer
}

.mandat-fiche:not(:first-of-type) {
display: none
}
.selectedItem {
  background-color: blue;
}

table.table tbody tr {
  cursor: pointer
}

.mandat-fiche:not(:first-of-type) {
  display: none
}
.XCancel{
  text-align: end;
  color: red;
  width: 10px;
}
