.divloadingOn {
    display: block;
    opacity: 0.7;
    width: 25%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.divloadingOff {
    position: absolute;
    margin-top: 40px;
}

.imgloading {
    background-image: url("../../../assets/loading-small.gif");
    pointer-events: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-repeat: no-repeat;
    opacity: 1;
    margin-top: 2px;
    border: 0;
}

.imgloadingHidden {
    visibility: hidden;
}

.divrelativeOn {
    position: relative;
    pointer-events: none;
}

.divrelativeOff {
    pointer-events: all;
}