<div class="container body-content">
    <h4>Réinitialisez votre mot de passe.</h4>
    <hr />
    <div [ngSwitch]="IsSuccess">
        <div *ngSwitchCase="true">
            <div class="alert alert-success">
                Mot de passe modifié avec succès
            </div>
        </div>
        <div *ngSwitchCase="false">
            <div class="alert alert-danger">
                Changer le mot de passe a échoué
            </div>
        </div>
        <div *ngSwitchDefault>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form #resetPasswordForm="ngForm">
                <h4>Réinitialisez votre mot de passe. </h4>
                <hr>
                <input class="form-control" [(ngModel)]="model.code" type="hidden" name="Code">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input class="form-control" (keyup)="IsValid(model.email, IsValidEmail, IsValidEmailRegex)" [(ngModel)]="model.email" type="email" name="Email" value="">
                    <div #IsValidEmail class="alert alert-danger" isTouched="false" hidden="isTouched?false:true">
                        This field is required
                    </div>
                    <div #IsValidEmailRegex class="alert alert-danger" isTouched="false" hidden="isTouched?false:true">
                        The email format is incorrect
                    </div>
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input class="form-control" (keyup)="IsValidPassword(model.password,IsValidPassWord,IsValidPassWordRegex)" [(ngModel)]="model.password" type="password" name="Password">
                    <div #IsValidPassWord class="alert alert-danger" isTouched="false" hidden="isTouched?false:true">
                        This field is required
                    </div>
                    <div #IsValidPassWordRegex class="alert alert-danger" isTouched="false" hidden="isTouched?false:true">
                        The password must contain at least 8 characters, including UPPER/lowercase and numbers
                    </div>
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword">Confirm password</label>
                    <input class="form-control" type="password" [(ngModel)]="model.confirmPassword" name="ConfirmPassword">
                    <div *ngIf="model.confirmPassword==model.password?false:true" class="alert alert-danger">
                        The password and confirmation password do not match.
                    </div>
                </div>

                <div id="identification" [ngClass]="classValidator('divrelativeOn form-inline ','divrelativeOff form-inline')">
                    <div [ngClass]="classValidator('divloadingOn','divloadingOff')" class="divloading">
                        <div style="margin-left: auto;margin-right: 65px;width: 1px">
                            <img [ngClass]="classValidator('imgloading','imgloadingHidden')">
                        </div>
                    </div>
                    <button type="submit" (click)="ResetPassword()" *ngIf="!showLoadingResetPassword" [disabled]="(IsValidEmail.hidden==false ||
                       IsValidEmailRegex.hidden==false)?true:false" class="btn btn-default">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>