<div>
  <div  [ngClass]="classValidator('divrelativeOn form-inline ','divrelativeOff form-inline')">
      <div [ngClass]="classValidator('divloadingOn','divloadingOff')" class="divloading">
          <div style="margin-left: auto;margin-right: 300px;width: 1px">
            <img [ngClass]="classValidator('imgloading','imgloadingHidden')">
          </div>
        </div>
    <div class="lgs-label">Certifications </div>
    <label (click)="AddCertifications()">
      <img src="../../../assets/add+1.png" style="width: 20px;float: right;margin-right: 10px;">
    </label>
    <div class="lgs-floatLeftButtons">
      <button type="button" class="btn btn-link"></button>
    </div>

      <table  class="table table-hover small">
          <thead>
              <tr class="lgs-backgroundColor">
                <th scope="col">DESCRIPTION</th>
                <th scope="col">ANNÉE</th>
                <th scope="col"></th>
              </tr>
            </thead>

        <tbody>
          <tr id="tr{{i}}" *ngFor=" let certif of certifications; let i = index">
            <td  >
              <inline-editor   [(ngModel)]="certif.description" empty="Description"  (onEnter)="NoSave()"    (onSave)="SaveCertification(certif)" [ngModelOptions]="{standalone: true}"
               name="certifDescription" [cols]="250"></inline-editor>
            </td>
            <td   style="width: 20px;">
              <inline-editor type="number" empty="Annee" [(ngModel)]="certif.annee" (onSave)="SaveCertification(certif)" [ngModelOptions]="{standalone: true}"
                name="certifAnnee" [cols]="250"></inline-editor>
            </td>
            <td style="width: 30px;">
              <label id="bt{{i}}" (click)="removeCertification(  certif)" class="XCancel"> X</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

</div>
