<style>
    .selectedItem {
        background-color: blue;
    }
    
    table.table tbody tr {
        cursor: pointer
    }
    
    .mandat-fiche:not(:first-of-type) {
        display: none
    }
</style>

<div class="load-pane" [ngClass]="{'loading': loading}" style="text-align: center">
    <h1><i class='fas fa-sync-alt fa-spin'></i> veuillez patienter.</h1>
</div>
<div [ngClass]="{'no-data-pane':true, 'no-data': (!cvDetails.graphIdUtilisateur && !loading)}">
    <h1><i class="fas fa-exclamation-circle"></i> Il n'y a aucune donnée.</h1>
</div>

<div id="" class="container-fluid" style="padding-top:30px" [ngClass]="{'loadable':true, 'loading': loading, 'no-data':!cvDetails.graphIdUtilisateur, 'animated fadeIn':cvDetails.graphIdUtilisateur}">
    <form>
        <div class="form-group">
            <div id="identification" class="form-inline">
                <div class="lgs-label">
                    <!--<i class="fas fa-save animated infinite pulse"></i>-->
                    <span class="saving-pane" [ngClass]="{'saving':savingBio}">
                        <i class="fas fa-spinner fa-spin" ></i>
                    </span> Identification
                </div>
                <div class="table-bordered lgs-group">
                    <div style="margin-bottom:25px">
                        <div>
                            <h2 class="form-inline">
                                <!--{{cvDetails.prenom}} {{cvDetails.nom}}-->
                                <div class="form-inline">
                                    <div style="margin-right:10px">
                                        <inline-editor type="text" [(ngModel)]="cvDetails.prenom" name="prenom" [cols]="250" (onSave)="saveBio()"></inline-editor>
                                    </div>
                                    <div>
                                        <inline-editor type="text" [(ngModel)]="cvDetails.nom" name="nom" (onSave)="saveBio()"></inline-editor>
                                    </div>
                                </div>
                            </h2>
                        </div>
                        <b>{{cvDetails.fonction}}</b>
                    </div>
                    <inline-editor type="textarea" [(ngModel)]="cvDetails.biographie" name="biographie" size="100" (onSave)="saveBio()">
                    </inline-editor>
                </div>
            </div>
        </div>

        <div style="clear:both" class="lgs-section">
            <div class="form-group row">
                <div class="col-lg-4">
                    <div>
                        <div class="lgs-label">
                            <span class="saving-pane" [ngClass]="{'saving':savingInterventionDomains}">
                                <i class="fas fa-spinner fa-spin" ></i>
                            </span> Principaux domaines d'intervention
                        </div>
                        <div class="lgs-group table-bordered">

                            <ul>
                                <li *ngFor="let domaine of cvDetails.domainesDIntervention">{{domaine.description}}</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div>
                        <div class="lgs-label">
                            <span class="saving-pane" [ngClass]="{'saving':savingFormationAcademique}">
                                <i class="fas fa-spinner fa-spin" ></i>
                            </span> Formation Adémique
                        </div>
                        <div class="lgs-floatLeftButtons">
                            <button type="button" class="btn btn-link"></button>
                        </div>
                        <div class="lgs-group table-bordered">
                            <div *ngFor="let formation of cvDetails.formationsAcademique">
                                <b>{{formation.diplome}} - ({{formation.annee}})</b>
                                <BR>{{formation.etablissement}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">

                    <div>
                        <div class="lgs-label">
                            <span class="saving-pane" [ngClass]="{'saving':savingCertifications}">
                                <i class="fas fa-spinner fa-spin" ></i>
                            </span> Certifications
                        </div>
                        <div class="lgs-floatLeftButtons">
                            <button type="button" class="btn btn-link"></button>
                        </div>
                        <div class="lgs-group table-bordered">
                            <ul>
                                <li *ngFor="let certification of cvDetails.certifications">{{certification.description}}</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="lgs-section">
            <div class="lgsTextTitle">RÉSUME DES INTERVENTIONS</div>
            <div>
                <table class="table table-hover small">
                    <thead>
                        <tr class="lgs-backgroundColor">
                            <th scope="col">#</th>
                            <th scope="col">CLIENT</th>
                            <th scope="col">PROJET</th>
                            <th scope="col">ENVERGURE <br />(J - P)</th>
                            <th scope="col">FONCTION</th>
                            <th scope="col">ANNÉE</th>
                            <th scope="col">EFFORTS (MOIS)</th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let intervention of cvDetails.mandats; let i = index">
                        <tr *ngIf="i == 0 || (i>0 && cvDetails.mandats[i-1].nomEntreprise != intervention.nomEntreprise)">
                            <td colspan="7"><b>{{intervention.nomEntreprise}}</b></td>
                        </tr>
                        <tr>
                            <th scope="row">{{intervention.numeroMandat}}</th>
                            <td>{{intervention.nomClient}}</td>
                            <td>{{intervention.titreProjet}}</td>
                            <td>{{intervention.envergure}}</td>
                            <td>{{intervention.fonction}}</td>
                            <td>{{intervention.debutMandat | date:'yyyy'}}</td>
                            <td>{{intervention.efforts}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="lgs-section">
            <app-mandat *ngFor="let mandat of cvDetails.mandats" [mandat]="mandat"></app-mandat>
            <router-outlet></router-outlet>
        </div>

        <div class="lgs-section">
            <div class="form-group row">
                <div class="col-lg-4">
                    <div>
                        <div class="lgs-label">
                            <span class="saving-pane" [ngClass]="{'saving':savingTechnologies}">
                                <i class="fas fa-spinner fa-spin" ></i>
                            </span> Expériences Technologiques
                        </div>
                        <div class="lgs-floatLeftButtons">
                            <button type="button" class="btn btn-link"></button>
                        </div>
                        <table class="table table-hover small">
                            <thead>
                                <tr class="lgs-backgroundColor">
                                    <th scope="col">Sous-catégorie</th>
                                    <th scope="col">Mois</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tech of cvDetails.technologies">
                                    <td>{{tech.description}}</td>
                                    <td>{{tech.mois}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div>
                        <div class="lgs-label">
                            <span class="saving-pane" [ngClass]="{'saving':savingLangues}">
                                <i class="fas fa-spinner fa-spin" ></i>
                            </span> Langues
                        </div>
                        <div class="lgs-floatLeftButtons">
                            <button type="button" class="btn btn-link"></button>
                        </div>

                        <table class="table table-hover small">
                            <thead>
                                <tr class="lgs-backgroundColor">
                                    <th scope="col">Langue</th>
                                    <th scope="col">N. Écrit</th>
                                    <th scope="col">N. Lu</th>
                                    <th scope="col">N. Parlé</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let langue of cvDetails.langues">
                                    <td>{{langue.nom}}</td>
                                    <td>{{langue.niveauEcrit}}</td>
                                    <td>{{langue.niveauLu}}</td>
                                    <td>{{langue.niveauParle}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-lg-4">

                    <div>

                        <div class="lgs-label">
                            <span class="saving-pane" [ngClass]="{'saving':savingPerfectionnements}">
                                <i class="fas fa-spinner fa-spin" ></i>
                            </span> Perfectionnements
                        </div>
                        <div class="lgs-floatLeftButtons">
                            <button type="button" class="btn btn-link"></button>
                        </div>


                        <table class="table table-hover small">
                            <thead>
                                <tr class="lgs-backgroundColor">
                                    <th scope="col">Sous-catégorie</th>
                                    <th scope="col">Année</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let perfectionement of cvDetails.perfectionnements">
                                    <td>{{perfectionement.description}}</td>
                                    <td>{{perfectionement.annee}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>


    </form>
</div>