<div class="container body-content">

  <h2>Forgot your password?</h2>
  <h4>Enter your email.</h4>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <form method="post" action="/Account/ForgotPassword" novalidate="novalidate">

        <div class="form-group">
          <label for="Email">Email</label>
          <input class="form-control" (keyup)="IsValid(Email,IsValidEmail,IsValidEmailRegex)" [(ngModel)]="Email" type="email" name="Email"
            value="">
          <div #IsValidEmail class="alert alert-danger">
            This field is required
          </div>
          <div #IsValidEmailRegex class="alert alert-danger">
            The email format is incorrect
          </div>
        </div>
        <button type="button"
        [disabled]="(IsValidEmail.hidden==false ||
        IsValidEmailRegex.hidden==false)?true:false"
        class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>



</div>
