<div class="container body-content">

    <h2>Forgot your password?</h2>
    <h4>Enter your email.</h4>

    <div [ngSwitch]="IsSuccess">
        <div *ngSwitchCase="true">
            <div class="alert alert-success">
                Veuillez vérifier votre courrier électronique pour réinitialiser votre mot de passe.
            </div>
        </div>
        <div *ngSwitchCase="false">
            <div class="alert alert-danger">
                Réinitialiser votre mot de passe a échoué
            </div>
        </div>
        <div *ngSwitchDefault>

        </div>
    </div>


    <hr>
    <div class="row">
        <div class="col-md-4">
            <form #passwordForm="ngForm">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input class="form-control" (keyup)="IsValid(Email,IsValidEmail,IsValidEmailRegex)" [(ngModel)]="Email" type="email" name="Email" value="">
                    <div #IsValidEmail class="alert alert-danger">
                        This field is required
                    </div>
                    <div #IsValidEmailRegex class="alert alert-danger">
                        The email format is incorrect
                    </div>
                </div>
                <div id="identification" [ngClass]="classValidator('divrelativeOn form-inline ','divrelativeOff form-inline')">
                    <div [ngClass]="classValidator('divloadingOn','divloadingOff')" class="divloading">
                        <div style="margin-left: auto;margin-right: 65px;width: 1px">
                            <img [ngClass]="classValidator('imgloading','imgloadingHidden')">
                        </div>
                    </div>
                    <button type="submit" (click)="ForgotPassword()" *ngIf="!showLoadingForgotPassword" [disabled]="(IsValidEmail.hidden==false ||
                       IsValidEmailRegex.hidden==false)?true:false" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>