<div class="container body-content">
  <div class="center" style="align-items:center; justify-content: center; display: grid">
    <a *ngIf="isAdministrateur || isApprobateur || isConseiller" href="CV" class="button">CV</a>
    <a *ngIf="isAdministrateur || isApprobateur" href="#" class="button">Fiches de Projets</a>
    <a *ngIf="isAdministrateur || isApprobateur" href="#" class="button">Approuver CV/Fiches</a>
    <a *ngIf="isAdministrateur" href="role/admin" class="button">Administration et Pilotage</a>
  </div>
</div>
