<div class="container body-content">
  <div class="row">
    <div *ngIf="isAdministrateur || isApprobateur || isConseiller" class="col-md-3" style="text-align: center;">
      <div>
        <img class="img-responsive"



        title=""



        [routerLink]="['/cv/edit/'+utilisateurId]" src="../../../assets/cv-image.png" style="width: 50px">
      </div>
      <div>
        <label> CV</label>
      </div>

    </div>
    <div *ngIf="isAdministrateur || isApprobateur" class="col-md-3" style="text-align: center;">
      <div>
        <img style="width: 50px" title="Fiches de Projets" src="../../../assets/folder.png" alt="Image">
      </div>
      <div>
        <label> Fiches de Projets</label>
      </div>
    </div>
    <div *ngIf="isAdministrateur" href="role/admin" class="col-md-3" style="text-align: center;">
      <div>
        <div>
          <div>
            <img style="width: 50px" title="Administration et Pilotage" src="../../../assets/pilotage.png" alt="Image">
          </div>
          <div>
            <label> Administration et Pilotage</label>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="isAdministrateur || isApprobateur" class="col-md-3" style="text-align: center;">
      <div>
        <div>
          <img title="Approuver CV/Fiches" src="../../../assets/cv-image.png" style="position: absolute!important;width: 50px">
          <img src="../../../assets/arrow.png" class="arrowRight">

        </div>
        <div>
          <label style="    margin-top: 35px;"> Approuver CV/Fiches</label>
        </div>
      </div>
    </div>
  </div>
</div>
