@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    line-height: normal;
    padding-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}


/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* QR code generator */

#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.lgs-label {
    background-color: #6c4796;
    color: white;
    font-size: medium;
    height: 100%;
    float: left;
    clear: left;
    padding: 2px 4px 0px 4px;
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;
}

.lgs-group {
    overflow: hidden;
    width: 100%;
    padding: 10px;
}

.lgs-section {
    margin-top: 20px;
    clear: both
}

.lgs-group b {
    font-size: medium
}

.lgs-floatRightButtons {
    float: right;
}

.lgs-floatLeftButtons {
    float: left;
    overflow: hidden;
    position: relative;
}

.lgs-floatRightButtons button i,
.lgs-floatLeftButtons button i,
.lgs-Buttons button i {
    font-size: 22px;
    color: #6c4796;
    margin-bottom: 0px;
}

.lgs-floatLeftButtons button {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.lgs-backgroundColor {
    background-color: #6c4796;
    color: white;
}

.lgs-champLabel {
    margin-right: 8px;
}

.lgsTextTitle {
    color: #6c4796;
    font-size: 18px;
}

.form-control {
    margin-right: 10px;
}

.loadable.loading,
.loadable.no-data {
    display: none
}

.load-pane,
.no-data-pane,
.saving-pane {
    display: none
}

.load-pane.loading,
.no-data-pane.no-data,
.saving-pane.saving {
    display: inline-block;
}
