@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="center" style="position:absolute; top:25%; left:50%">
        <a href="CV" class="button">CV</a>
        <a href="#" class="button">Fiches de Projets</a>
        <a href="#" class="button">Approuver CV/Fiches</a>
        <a href="#" class="button">Alertes</a>
        <a href="#" class="button">Administration et Pilotage</a>
    </div>
</div>
