<div>

  <div [ngClass]="classValidator('divrelativeOn form-inline ','divrelativeOff form-inline')">
    <div [ngClass]="classValidator('divloadingOn','divloadingOff')" class="divloading">
      <div style="margin-left: auto;margin-right: 600px;width: 1px">
        <img [ngClass]="classValidator('imgloading','imgloadingHidden')">
      </div>
    </div>

    <div class="lgs-label">Langues</div>
    <label (click)="AddLangue()">+</label>
    <div class="lgs-floatLeftButtons">
      <button type="button" class="btn btn-link"></button>
    </div>
    <table class="table table-hover small">
      <thead>
        <tr class="lgs-backgroundColor">
          <th scope="col">Langue</th>
          <th scope="col">N. Écrit</th>
          <th scope="col">N. Lu</th>
          <th scope="col">N. Parlé</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>

        <tr  style="width: 100%;" *ngFor="let langue of langues">
          <td  style="width: 25%;">
            <mat-form-field style="width: 100%;">
              <mat-select [(ngModel)]="langue.graphId" placeholder="Select">
                <mat-option *ngFor="let option of languesAutoComplete" [value]="option.graphId">{{option.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td style="width: 25%;">
            <mat-form-field style="width: 100%;">
              <mat-select [(ngModel)]="langue.niveauEcrit" placeholder="Select">
                <mat-option *ngFor="let niveauEcrit of niveauLangue.Collection" [value]="niveauEcrit.label">{{niveauEcrit.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td style="width: 25%;">
            <mat-form-field style="width: 100%;">
              <mat-select [(ngModel)]="langue.niveauLu" placeholder="Select">
                <mat-option *ngFor="let niveauLu of niveauLangue.Collection" [value]="niveauLu.label">{{niveauLu.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td style="width: 25%;">
            <mat-form-field style="width: 100%;">
              <mat-select [(ngModel)]="langue.niveauParle" placeholder="Select">
                <mat-option *ngFor="let niveauParle of niveauLangue.Collection" [value]="niveauParle.label">{{niveauParle.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td (click)="removeLange(langue)" class="XCancel">
            X
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
