<div id="identification" [ngClass]="classValidator('divrelativeOn form-inline ','divrelativeOff form-inline')">
  <div [ngClass]="classValidator('divloadingOn','divloadingOff')" class="divloading">
    <div style="margin-left: auto;margin-right: 660px;width: 1px">
      <img [ngClass]="classValidator('imgloading','imgloadingHidden')">
    </div>
  </div>
  <div class="lgs-section" style=" width: 100%;">




    <div class="card border-dark mb-3 mandat-fiche">

      <div class="card-header lgs-backgroundColor">

        <div [hidden]="numberPage == 1 ?true:false" (click)="previous(numberPage)" style="float: left;position: relative">
          <button class="btn btn-link">
            <b class="text-white">
              <i class="fas fa-chevron-left"></i>
            </b>
          </button>
        </div>

        <div [hidden]="numberPage > lastPage ?true:false" (click)="next(numberPage)" style="float: right;position: relative">
          <button class="btn btn-link">
            <b class="text-white">
              <i class="fas fa-chevron-right"></i>
            </b>
          </button>
        </div>

        <h3 style="margin-left:20px">
          {{numberPage}} - {{mandat.titreMandat}}

        </h3>
      </div>

      <div class="card-body text-dark">



        <div class="lgs-group">
          <div style="clear:both" class="form-inline">
            <label class="lgs-champLabel">Entreprise: </label>
            <h3>
              <inline-editor empty="Nom Entreprise" [(ngModel)]="mandat.nomEntreprise" [ngModelOptions]="{standalone: true}" [name]="mandat.nomEntreprise"
                [cols]="250"></inline-editor>
            </h3>
          </div>

          <div class="lgs-section">
            <div class="form-inline">
              <label class="lgs-champLabel">Mandat:</label>
              <b id="mandat">
                <inline-editor empty="Mandat" [(ngModel)]="mandat.titreMandat" [ngModelOptions]="{standalone: true}" [name]="mandat.titreMandat"
                  [cols]="250"></inline-editor>
              </b>
            </div>
            <div class="form-inline">
              <label class="lgs-champLabel">Dès </label>
              <b>
                <inline-editor type="date" empty="  Dès   " (onSave)="calcMonth(mandat.debutMandat,mandat.finMandat,moisMandat)" [(ngModel)]="mandat.debutMandat"
                  [ngModelOptions]="{standalone: true}" [name]="mandat.debutMandat" [cols]="250"></inline-editor>

              </b>
              <label class="lgs-champLabel" style="margin-left: 10px;">à</label>
              <b>
                <inline-editor type="date" empty="à" (onSave)="calcMonth(mandat.debutMandat,mandat.finMandat,moisMandat)" [(ngModel)]="mandat.finMandat"
                  [ngModelOptions]="{standalone: true}" [name]="mandat.finMandat" [cols]="250"></inline-editor>
              </b>
              <span style="margin-left: 10px;" #moisMandat>( mois )</span>
            </div>
            <div class="form-inline">
              <label class="lgs-champLabel">Envergure:</label>
              <b>
                <inline-editor type="number" empty="Envergure" [(ngModel)]="mandat.envergure" [ngModelOptions]="{standalone: true}" [name]="mandat.envergure"
                  [cols]="250"></inline-editor>
              </b>
            </div>
            <div class="form-inline">
              <label class="lgs-champLabel">Efforts:</label>
              <b>
                <inline-editor type="number" empty="Efforts" [(ngModel)]="mandat.efforts" [ngModelOptions]="{standalone: true}" [name]="mandat.efforts"
                  [cols]="250"></inline-editor>
              </b>
            </div>
            <div class="form-inline">
              <label class="lgs-champLabel">Fonctions du conseiller sur le mandat:</label>
              <b>

                <app-drop-down-fonction></app-drop-down-fonction>

              </b>
            </div>
          </div>
          <div class="form-inline">
            <label class="lgs-champLabel">Effort du conseiller sur le projet ou sous-projet</label>
            <b>
              <inline-editor type="date" empty="  Dès   " (onSave)="calcMonth(mandat.debutProjet,mandat.finProjet,moisProjet)" [(ngModel)]="mandat.debutProjet"
                [ngModelOptions]="{standalone: true}" [name]="mandat.debutProjet" [cols]="250"></inline-editor>
            </b>
            <label class="lgs-champLabel" style="margin-left:8px">à</label>
            <b>
              <inline-editor type="date" empty="  à   " (onSave)="calcMonth(mandat.debutProjet,mandat.finProjet,moisProjet)" [(ngModel)]="mandat.finProjet"
                [ngModelOptions]="{standalone: true}" [name]="mandat.finProjet" [cols]="250"></inline-editor>
            </b>
            <span style="margin-left: 10px;" #moisProjet>( mois )</span>
          </div>

          <div class="card border-dark mb-3" style="margin-top:10px">
            <div class="card-header">
              <b>contexte du projet ou du sous projet</b> (provient de la fiche) NON MODIFIABLE</div>
            <div class="card-body">
              {{mandat.contexteProjet}}

            </div>
          </div>

          <div class="card border-dark mb-3 lgs-section">
            <div class="card-header">
              <b>Portée des travaux du conseiller sur le mandat</b>
            </div>
            <div class="card-body">
              <inline-editor type="textarea" empty="Portee Des Travaux" [(ngModel)]="mandat.porteeDesTravaux" [ngModelOptions]="{standalone: true}"
                [name]="mandat.porteeDesTravaux" [cols]="250"></inline-editor>
            </div>
          </div>

          <div style="clear:both">
            <div class="form-group row">
              <div class="col-lg-4">
                <div>
                  <div class="lgs-label">Description de tâches</div>
                  <div class="lgs-floatLeftButtons">
                    <button type="button" class="btn btn-link"></button>
                  </div>
                  <div class="lgs-group table-bordered">
                    <mat-form-field class="chip-list">
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let tache of mandat.taches" [selectable]="selectable" [removable]="removable" (removed)="removeTache(tache)">
                          {{tache.description}}
                          <mat-icon matChipRemove *ngIf="removable">
                            <label class="XCancel">x</label>
                          </mat-icon>
                        </mat-chip>
                        <input placeholder="Principaux domaines d'intervention" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTache($event)">
                      </mat-chip-list>
                    </mat-form-field>
                  </div>
                </div>

              </div>
              <div class="col-lg-4">
                <div>
                  <div class="lgs-label">Liste des techno du projet</div>
                  <div class="lgs-floatLeftButtons">
                    <button type="button" class="btn btn-link"></button>
                  </div>
                  <div class="lgs-group table-bordered">
                    <ul>
                      <li>Asp .net</li>
                      <li>C#</li>
                      <li>Phyton</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div style="width: 100%;">
          <div  >
            <button (click)="SendMandatCarousel(mandat)" style="width: 100px;float: right;margin-right: 20px;margin-bottom: 10px;" type="button"
              class="btn btn-primary">Ajouter</button>
          </div>
          <div>
            <button  (click)="ModifierMandatCarousel(mandat)" style="width: 100px;float: right;margin-right: 20px;margin-bottom: 10px;"
              type="button" class="btn btn-success">Modifier</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
